body{
	width: 100%;
	height: 100%;
	background: #eee;
	font-family: 'Open Sans', sans-serif;

	padding: 0;
	margin: 0;
}

.shown{
	display: block;
	visibility: visible;
}

.hidden{
	display: none;
	visibility: hidden;
}


/*-----------------------------------------
	Table Classes
-----------------------------------------*/
.table{
	position: relative;
	width: 120px;
	border:1px solid  #333;
	position: relative;
	display: block;
}

.nav{
	background: #2c3e50;
	color:#fff;

	padding: 12px;
}

.sub-nav{
	background: #75BBA7;
	color:#fff;

	padding: 6px;
}

.sub-nav .button{
	background:none;
	padding: 6px;
	color:#fff;

	border:1px solid #fff;
}

.content{
	padding: 12px;
}

h1{
	font-family: 'Open Sans', sans-serif;
}