body{
	width: 100%;
	height: 100%;
	background: #eee;
	font-family: 'Open Sans', sans-serif;

	padding: 0;
	margin: 0;
}

.shown{
	display: block;
	visibility: visible;
}

.hidden{
	display: none;
	visibility: hidden;
}


/*-----------------------------------------
	Table Classes
-----------------------------------------*/
.table{
	position: relative;
	width: 300px;
	border:1px solid  #333;
	position: relative;
	display: block;
	float:left;
}

.row{
	display: block;
}
.row input{
	float: left;

}

.row input.column-name{
	width:200px;
}
.row input.column-select{
	width:50px;
}


/*-----------------------------------------
	Navigation UI
-----------------------------------------*/

.nav{
	background: #2c3e50;
	color:#fff;

	padding: 12px;
}

.sub-nav{
	background: #75BBA7;
	color:#fff;

	padding: 6px;
}

.sub-nav .button{
	background:none;
	padding: 6px;
	color:#fff;

	border:1px solid #fff;
}

.content{
	padding: 12px;
}

/*-----------------------------------------
	designer specific
-----------------------------------------*/
#designer-info{
	position: absolute;
	width: 100%;
	height: 40px;
	bottom:0;
	left:0;
	background: #28323C;
	color:#fff;

	/*Ovverride the .content class*/
	margin: 0px;
	padding: 0;
}

/*-----------------------------------------
	SQL code specific
-----------------------------------------*/
#sql-output{
	white-space: pre-line;

	background:#28323C;
	color:#fff;
	font-family: serif;
}

/*-----------------------------------------
	Text
-----------------------------------------*/
h1{
	font-family: 'Open Sans', sans-serif;
}

button.option{
	display: block;
}