body{
	width: 100%;
	height: 100%;
	background: #eee;
	font-family: sans-serif;
}

.shown{
	display: block;
	visibility: visible;
}

.hidden{
	display: none;
	visibility: hidden;
}


/*-----------------------------------------
	Table Classes
-----------------------------------------*/
.table{
	position: relative;
	width: 120px;
	border:1px solid  #333;
	position: relative;
	display: block;
}